.text {
  color: rgba(22, 0, 65, 1);
  font-size: 23px;
  font-weight: 400;
  line-height: 26.04px;
  letter-spacing: -0.05em;
  text-align: left;
  justify-content: center;
}

.button {
  background: rgba(255, 127, 86, 1);
  font-weight: 600;
  font-size: 25px;
  font-family: "young";
}

/* header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.body-padding {
  padding-top: 80px; 
} */
